.main {
  background: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.main h1 {
  font-size: 20px;
  margin: 5px 2px;
}

.main button[type="submit"] {
  margin: auto 2px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color:#fff;
  background: rgb(170, 16, 49);
  outline: auto;
  height: 22px;
  width: 24px;
  font-size: 12px;
}

.main form {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 5px auto;
}

.tasks li {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  width: auto;
  height: 25px;
  margin: 8px auto;
  padding: 5px;
  text-align: left;
  background-color: rgb(226, 226, 226);
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tasks li:hover {
  background-color: rgb(206, 231, 255);
  transition: all 600ms;
}

.tasks li:hover .edit,
.tasks li:hover .delete {
  color: black;
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
  transition: all 600ms;
}

.tasks li .edit {
  margin-right: 5px;
  color: rgb(126, 128, 60)
}

.tasks li .delete {
  margin-left: 5px;
  color: rgb(179, 27, 27)
}

.tasks li span {
  display: flex;
  font-size: 15px;
  margin: 10px;
}
